@import '/src/common/modern-reset.css';

body {
  font-family: SUIT, sans-serif;
}

.card {
  display: flow-root;
  margin: 2em;
  padding: 2em;
  border: 2px solid #aaa;
  border-radius: 0.5rem;

  /* 제목 */
  .subject {
    font-size: 1.5rem;
    font-weight: 600;

    span {
      vertical-align: top;

      &[lang='en'] {
        font-size: 0.5em;
      }
    }
  }

  .thumbnail {
    border: 1px solid #ccc;
    border-radius: 50%;
    float: left;
    margin: 1em;
    padding: 0.625em;
    width: 175px;
    shape-outside: circle(50%);

    img {
      border-radius: inherit;
      aspect-ratio: 1/1;
      object-fit: cover;
      object-position: 0 -25px;
      width: 100%;
    }
  }

  .content {
    margin-top: 0.625rem;
  }
}
