.case-01 {
  writing-mode: vertical-rl;
  border: 1px solid currentColor;
  color: green;
  width: 200px;
  /* 가로 크기를 width 속성이 아닌 논리 속성 */
  inline-size: 400px;
  /* 세로 크기를 height 속성이 아닌 논리 속성 */
  block-size: 100px;
  overflow: auto;
  padding-inline-start: 40px;
  padding-inline-end: 60px;

  /* padding-inline: 20px;
  padding-block: 10px;
  margin-inline: 30px;
  margin-block: 50px; */
}
